In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../output/scores/amazon_2.csv')

df.rename(columns={'stop_at': 'Stop at',
                   'V': '$V(x)$'},
          inplace=True)

In [5]:
df.describe()

         Stop at       prob     reward     $V(x)$
count  12.000000  12.000000  12.000000  12.000000
mean    2.333333   0.506929   0.590654  -0.280158
std     0.887625   0.485337   0.365011   0.724909
min     1.000000   0.002917   0.000000  -0.995267
25%     1.750000   0.019771   0.466844  -0.963727
50%     3.000000   0.523908   0.834704  -0.368048
75%     3.000000   0.969436   0.834704   0.164632
max     3.000000   1.000000   0.834704   0.759935

In [4]:
df[['Stop at', '$V(x)$']].to_latex('amazon_2_hqs_table.tex')